<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/members/home.css') }}">
    {% include 'navbar.html' %}

</head>

<body style="padding-top: 100px;">
    <h1 class="center">Account Info</h1>

    <div class="container">
        <div class="card">
            <h2>Pending Bills</h2>
            <p>Total Unpaid Bills: {{to_verify}}</p>
            <a href="/admin/members_info" class="button">Pay</a>
        </div>
        <div class="card">
            <h2>Verified Payments</h2>
            <p>Total transactions: {{count_user}}</p>
            <a href="/admin/members_info" class="button">View History</a>
        </div>
    </div>

</body>

</html>