<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Method</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/members/pay.css') }}">
    {% include 'navbar.html' %}
</head>

<body>
    <form method="POST" action="/choice" class="payment-form">
        <h1>Payment</h1>
        <div class="payment-choice">
            <p>How do you want to pay?</p>
            <label for="cash">
                <i class="fa-solid fa-money-bill"></i>Cash
                <input type="radio" id="cash" name="choice" value="cash" required>
            </label>
            <br>
            <label for="gcash">
                <i class="fa-brands fa-google"></i>G-Cash
                <input type="radio" id="gcash" name="choice" value="gcash" required>
            </label>
            <br>
            <input class="verify" type="submit" value="Proceed >">
        </div>
    </form>
</body>

</html>