<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/members/payment_history.css') }}">
    {% include 'navbar.html' %}
</head>

<body style="padding-top: 100px;">
    <div class="table">
        <h1 class="center">Payment History</h1>


        <h2 class="indent">Unverified Payments</h2>
        <table>
            <thead>
                <tr>
                    <th>Transaction Type</th>
                    <th>Amount to pay</th>
                    <th>Code / Proof</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% if unverified %}
                    {% for unverifieds in unverified %}
                    <td>{{ unverifieds[3] }}</td>
                    <td><span id="formattedAmount">{{ unverifieds[2] }}</span></td>
                    {% if unverifieds[3] == 'Cash' %}
                    <td>{{ unverifieds[8] }}</td>
                    {% else %}
                    <td>
                        <form action="/members/view_proof/{{unverifieds[0]}}" method="POST">
                            <input type="submit" class="btn-view" value="View   ">
                        </form>
                    </td>
                    {% endif %}

                    {%endfor%}
                    {% else %}
                    <td colspan="4">No Result</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>

        <h2 class="indent">Verified Payments</h2>
        <table>
            <thead>
                <tr>
                    <th>Transaction Type</th>
                    <th>Date Paid</th>
                    <th>Amount</th>
                    <th>Manage</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% if verified %}
                    {% for verifieds in verified %}
                    <td>{{ verifieds[3] }}</td>
                    <td><span id="formattedAmount">{{ verifieds[2] }}</span></td>
                    <td>{{ verifieds[4] }}</td>
                    <td>
                        <form action="/members/view_history/{{verifieds[0]}}" method="POST">
                            <input type="submit" class="btn-view" value="View">
                        </form>
                    </td>
                    {%endfor%}
                    {% else %}
                    <td colspan="4">No Result</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
</body>

</html>

<script>
    function addCommas(number) {
        return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    var amountElement = document.getElementById("formattedAmount");
    amountElement.innerText = addCommas(amountElement.innerText);
</script>