<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G-Cash Payment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/members/payment_gcash.css') }}">
    {% include 'navbar.html' %}
</head>

<body style="margin-top: 100px;">
    <form method="POST" action="/choice" class="payment-form">
        <h1 class="center">G-Cash Payment</h1>
        {% if gcash%}
        {% for g in gcash %}
        <div class="pay-detail">
            <h3>Amount to pay: {{g[2]}} </h3>
            <h3>Due date: {{g[6].strftime('%B %d, %Y')}}</h3>
        </div>
        <h3 class="det-title">Payment Details: </h3>
        <div class="payment-details">
            <div class="rows-left">
                <h3 class="det">Proof: </h3>
            </div>
            <div class="rows">
                <div class="file-input-container">
                    <input class="file-input" type="file" name="proof" id="proof">
                    <label class="file-input-label" for="proof">Choose Picture</label>
                </div>
            </div>
            <!-- <div class="rows-left">
                <h3 class="det">Paid to: </h3>
            </div>
            <div class="rows">
                <input type="text" name="paid_to" title="Name of the receiver" placeholder="Name of the payment recipient (Leave)">
            </div> -->
            <div class="rows-left">
                <h3 class="det">Amount: </h3>
            </div>
            <div class="rows">
                <input type="text" name="amount" value="{{g[2]}}" title="Please put the exact amount" placeholder="Amount of the payment" required>
            </div>
        </div>
        {%endfor%}
        {% endif %}

        <input class="pay" type="submit" value="Pay">
    </form>
</body>

</html>