<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/members/view-history.css') }}">
    {% include 'navbar.html' %}
</head>

<body style="padding-top: 100px;">
    <div class="modal-container">
        <div class="modal-content">
            <h2 style="padding-bottom: 20px; text-align: center;">View Proof</h2>

            <div class="modal-line">
                <img src="{{ url_for('static', filename=proof[0]) }}" alt="Proof of Payment" style="width: 100%;" draggable="false" />
            </div>
            <a href="/members/payment_history" class="go-back">
                < Back</a>
        </div>
    </div>


</body>

</html>