<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/members/view-history.css') }}">
    {% include 'navbar.html' %}
</head>

<body style="padding-top: 100px;">
    <div class="modal-container">
        <div class="modal-content">
            <h2 style="padding-bottom: 20px; text-align: center;">Transaction History</h2>

            <div class="modal-line">
                <div class="modal-label">Transaction Type:</div>
                <div class="modal-value">{{ transaction[3] }}</div>
            </div>
            <div class="modal-line">
                <div class="modal-label">Date:</div>
                <div class="modal-value">{{ transaction[5] }}</div>
            </div>
            <div class="modal-line">
                <div class="modal-label">Amount:</div>
                <div class="modal-value"><span id="formattedAmount">{{ transaction[4] }}</span></div>
            </div>
            <div class="modal-line">
                <div class="modal-label">Date Paid:</div>
                <div class="modal-value">{{ transaction[5].strftime('%B %d, %Y') }}</div>
            </div>
            <a href="/members/payment_history" class="go-back">
                < Back</a>
        </div>
    </div>


</body>

</html>

<script>
    function addCommas(number) {
        return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    var amountElement = document.getElementById("formattedAmount");
    amountElement.innerText = addCommas(amountElement.innerText);
</script>