<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/dashboard.css') }}">
    {% include 'navbar.html' %}

    <style>

    </style>
</head>

<body style="padding-top: 100px;">
    <h1 class="center">DASHBOARD</h1>
    <div class="container">
        <div class="card">
            <h2>Account to be verified</h2>
            <p>Total users: {{to_verify}}</p>
            <a href="/admin/members_info" class="button">View Accounts</a>
        </div>
        <div class="card">
            <h2>Total Approved Members</h2>
            <p>Total users: {{count_user}}</p>
        </div>

        <div class="card">
            <h2>Deleted Accounts</h2>
            <p>Total users: {{deleted}}</p>
        </div>
    </div>

    <h1 class="center" style="padding-top: 30px;">Payment Info</h1>
    <div class="container">
        <div class="card">
            <h2>For Payment Approval</h2>
            <p>Total payment: {{transac_to_verify}}</p>
            <a href="#" class="button">View Payments</a>
        </div>
        <div class="card">
            <h2>Members Not Yet paid</h2>
            <p>Total members: {{unpaid_members}}</p>
        </div>

        <div class="card">
            <h2>Total Money Collected</h2>
            <p>Total money: {{total_earnings}}</p>
        </div>

    </div>

</body>

</html>