<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Information</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/members_info.css') }}">
    {% include 'navbar.html' %}
</head>

<body>

    <h1>USER INFO</h1>
    <div class="half">
        <div class="half-half">
            <h2>Unverified Users:</h2>
        </div>
        <div class="half-half">
            <input type="text" id="searchUnverified" class="search-input"
                onkeyup="filterTable('searchUnverified', 'unverifiedTable')" placeholder="Search for names...">
        </div>
    </div>

    <div class="scrollable">
        <table id="unverifiedTable" class="table">
            <tr>
                <th class="sort-btn" onclick="sortTable(0, 'unverifiedTable')">Last Name</th>
                <th class="sort-btn" onclick="sortTable(1, 'unverifiedTable')">First Name</th>
                <th class="sort-btn" onclick="sortTable(2, 'unverifiedTable')">Middle Name</th>
                <th>Action</th>
                <!-- Add more column headers as per your table structure -->
            </tr>
            {% if unv %}
            {% for unverified in unv %}
            <tr>
                <td>{{ unverified[11] }}</td>
                <td>{{ unverified[9] }}</td>
                <td>{{ unverified[10] }}</td>
                <td>
                    <form method="POST" action="/admin/edit_info/{{unverified[1]}}">
                        <input type="submit" class="edit button" value="&#x2714; APPROVE"
                            formaction="/admin/accept/{{unverified[0]}}"
                            onclick="return confirm('Are you sure you want to APPROVE {{unverified[9]}} {{unverified[11]}}?')">
                        <input type="submit" class="delete button" value="&#x2716; DECLINE"
                            formaction="/admin/decline/{{unverified[0]}}"
                            onclick="return confirm('Are you sure you want to DECLINE {{unverified[9]}} {{unverified[11]}}?')">
                    </form>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <td colspan="4">No Result</td>
            {% endif %}
        </table>
    </div>


    <div class="half">
        <div class="half-half">
            <h2>Incomplete User Information:</h2>
        </div>
        <div class="half-half">
            <input type="text" id="searchIncomplete" class="search-input"
                onkeyup="filterTable('searchIncomplete', 'incompleteTable')" placeholder="Search for names...">
        </div>
    </div>
    <div class="scrollable">
        <table id="incompleteTable" class="table">
            <tr>
                <th class="sort-btn" onclick="sortTable(0, 'incompleteTable')">Last Name</th>
                <th class="sort-btn" onclick="sortTable(1, 'incompleteTable')">First Name</th>
                <th class="sort-btn" onclick="sortTable(2, 'incompleteTable')">Middle Name</th>
                <th>Action</th>
                <!-- Add more column headers as per your table structure -->
            </tr>
            {% if inc %}
            {% for incs in inc %}
            <tr>
                <td>{{ incs[15] }}</td>
                <td>{{ incs[13] }}</td>
                <td>{{ incs[14] }}</td>
                <td>
                    <form method="POST" action="/admin/edit_info/{{incs[1]}}">
                        <input type="submit" class="edit button" value="&#xf044; EDIT">
                        <input type="submit" class="delete button" value="&#xf2ed; DELETE"
                            formaction="/admin/delete_info/{{incs[1]}}"
                            onclick="return confirm('Are you sure you want to delete this account?')">
                    </form>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <td colspan="4">No Result</td>
            {% endif %}
        </table>
    </div>


    <div class="half">
        <div class="half-half">
            <h2>Complete User Information:</h2>
        </div>
        <div class="half-half">
            <input type="text" id="searchComplete" class="search-input"
                onkeyup="filterTable('searchComplete', 'completeTable')" placeholder="Search for names...">
        </div>
    </div>

    <div class="scrollable">
        <table id="completeTable" class="table">
            <tr>
                <th class="sort-btn" onclick="sortTable(0, 'completeTable')">Last Name</th>
                <th class="sort-btn" onclick="sortTable(1, 'completeTable')">First Name</th>
                <th class="sort-btn" onclick="sortTable(2, 'completeTable')">Middle Name</th>
                <th>Action</th>
            </tr>
            {% if complete %}
            {% for completed in complete %}
            <tr>
                <td>{{ completed[15] }}</td>
                <td>{{ completed[13] }}</td>
                <td>{{ completed[14] }}</td>
                <td>
                    <form method="POST" action="/admin/edit_info/{{completed[1]}}">
                        <input type="submit" class="edit button" value="&#xf044; EDIT">
                        <input type="submit" class="delete button" value="&#xf2ed; DELETE"
                            formaction="/admin/delete_info/{{completed[1]}}"
                            onclick="return confirm('Are you sure you want to delete this account?')">
                    </form>
                </td>
                {% endfor %}
                {% else %}
                <td colspan="4">No Result</td>
                {% endif %}
            </tr>
    </div>

</body>

<script>
    function filterTable(inputId, tableId) {
        var input, filter, table, tr, td, i, j, txtValue;
        input = document.getElementById(inputId);
        filter = input.value.toUpperCase();
        table = document.getElementById(tableId);
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, including the first row (header row)
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            // Start from index 0 since the first row is included
            for (j = 0; j < td.length; j++) {
                txtValue = td[j].textContent || td[j].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    break;
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function sortTable(columnIndex, tableId) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById(tableId);
        switching = true;
        dir = "asc"; // Set the sorting direction to ascending by default

        while (switching) {
            switching = false;
            rows = table.rows;

            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("td")[columnIndex];
                y = rows[i + 1].getElementsByTagName("td")[columnIndex];

                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>


</html>