<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Verification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/payment_verify.css') }}">
    {% include 'navbar.html' %}
</head>

<body style="padding-top: 100px; background-color:#6FB9B9;">
    <div class="container">
        <h2>Payment Verification</h2>

        {% if to_verify %}
        {% for to_verifies in to_verify %}
        <form action="/admin/payment_verified" method="POST">
            <div class="form-group">
                <label for="name">Name: {{to_verifies[12]}} {{to_verifies[13]}} {{to_verifies[14]}} </label>
            </div>
            <div class="form-group">
                <label for="due">Due Date: {{to_verifies[6]}}</label>
            </div>
            <div class="form-group">
                <label for="transac_type">Transaction Type: {{to_verifies[3]}}</label>
            </div>
            <div class="form-group">
                <label for="amount">Amount: ₱</label>
                <input type="number" id="amount" name="amount" value="{{to_verifies[2]}}" required>
            </div>
            {% if to_verifies[3] == 'Cash' %}
            <div class="form-group cash-verify">
                <label for="code">Enter the code to verify the payment:</label>
                <input type="text" id="code" name="code" required>
            </div>
            {% else %}
            <div class="form-group cash-verify">
                <img src="{{ url_for('static', filename=to_verifies[9]) }}" alt="Proof" class="proof" draggable="false">
            </div>
            {% endif %}




            <input type="submit" class="button" value="Verify Payment">
        </form>
        {% endfor %}
        {% endif %}
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
        {% if category == 'error' %}
        <script>
            alert('{{ message }}');
        </script>
        {% endif %}
        {% endfor %}
        {% endwith %}
    </div>
</body>

</html>