<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Verification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/payment_verification.css') }}">
    {% include 'navbar.html' %}
</head>

<body style="padding-top: 100px;">
    <h1>Payment Verification</h1>

    <div class="half">
        <div class="half-half">
            <h2>For Payment Approval:</h2>
        </div>
        <div class="half-half">
            <input type="text" id="searchverification" class="search-input"
                onkeyup="filterTable('searchverification', 'verificationtable')" placeholder="Search for info...">
        </div>
    </div>
    <div class="scrollable">
        <table id="verificationtable" class="table">
            <tr>
                <th class="sort-btn" onclick="sortTable(0, 'verificationtable')">Transaction Type</th>
                <th>Amount to pay</th>
                <th>Manage</th>
            </tr>
            {% if unverified %}
            {% for unverifieds in unverified %}
            <tr>
                <td>{{ unverifieds[3] }}</td>
                <td><span id="formattedAmount">{{ unverifieds[2] }}</span></td>
                <td>
                    <form action="" method="POST" class="payment">
                        <input type="submit" class="btn-view" value="Verify"
                            formaction="/admin/payment_verify/{{unverifieds[0]}}">
                    </form>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">No Result</td>
            </tr>
            {% endif %}
        </table>
    </div>

    <script>
        function filterTable(inputId, tableId) {
            var input, filter, table, tr, td, i, j, txtValue;
            input = document.getElementById(inputId);
            filter = input.value.toUpperCase();
            table = document.getElementById(tableId);
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, including the first row (header row)
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td");
                // Start from index 0 since the first row is included
                for (j = 0; j < td.length; j++) {
                    txtValue = td[j].textContent || td[j].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        break;
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        function sortTable(columnIndex, tableId) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById(tableId);
            switching = true;
            dir = "asc"; // Set the sorting direction to ascending by default

            while (switching) {
                switching = false;
                rows = table.rows;

                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("td")[columnIndex];
                    y = rows[i + 1].getElementsByTagName("td")[columnIndex];

                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchcount++;
                } else {
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
    </script>
</body>

</html>