<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Reminder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/payment_arrangement.css') }}">
    {% include 'navbar.html' %}
</head>

<body>

    <h1>PAYMENT REMINDER</h1>
    <br>

    <div class="half">
        <div class="half-half">
        </div>
        <div class="half-half">
            <input type="text" id="searchComplete" class="search-input"
                onkeyup="filterTable('searchComplete', 'completeTable')" placeholder="Search for names...">
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="sort-btn" onclick="sortTable(0, 'completeTable')">Name</th>
                <th>Amount</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if new %}
            {% for newacc in new %}
            <tr>
                <td>{{newacc[15]}}, {{newacc[13]}} {{newacc[14]}}</td>
                <td>{{newacc[10]}}</td>
                <td>
                    <a class="button remind" href="/admin/payment_arrange/{{newacc[1]}}">Arrange Payment</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3">No account to manage</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</body>
<script>
    function filterTable(inputId, tableId) {
        var input, filter, table, tr, td, i, j, txtValue;
        input = document.getElementById(inputId);
        filter = input.value.toUpperCase();
        table = document.getElementById(tableId);
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, including the first row (header row)
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            // Start from index 0 since the first row is included
            for (j = 0; j < td.length; j++) {
                txtValue = td[j].textContent || td[j].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    break;
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function sortTable(columnIndex, tableId) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById(tableId);
        switching = true;
        dir = "asc"; // Set the sorting direction to ascending by default

        while (switching) {
            switching = false;
            rows = table.rows;

            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("td")[columnIndex];
                y = rows[i + 1].getElementsByTagName("td")[columnIndex];

                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>

</html>