<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/view-history.css') }}">
    {% include 'navbar.html' %}
</head>

<body style="padding-top: 100px;">
    <div class="modal-container">
        <div class="modal-content">
            <h2 style="padding-bottom: 20px; text-align: center;">Transaction History</h2>
            <div class="modal-line">
                <div class="modal-label">Name:</div>
                <div class="modal-value">
                    {{ transaction[14] }}, {{ transaction[12] }} {{ transaction[13] }}
                </div>
            </div>
            <div class="modal-line">
                <div class="modal-label">Transaction Type:</div>
                <div class="modal-value">{{ transaction[3] }}</div>
            </div>
            <div class="modal-line">
                <div class="modal-label">Date:</div>
                <div class="modal-value">{{ transaction[5] }}</div>
            </div>
            <div class="modal-line">
                <div class="modal-label">Amount:</div>
                <div class="modal-value">{{ transaction[4] }}</div>
            </div>
            <div class="modal-line">
                <div class="modal-label">Date Paid:</div>
                <div class="modal-value">{{ transaction[5] }}</div>
            </div>
            {% if transaction[3] == 'Cash' %}
            <div class="modal-line">
                <div class="modal-label">Code:</div>
                <div class="modal-value">{{ transaction[8] }}</div>
            </div>
            {% else %}
            <div class="modal-line">
                <div class="modal-label">Proof:</div>
                <div class="modal-value">
                    <img src="{{ url_for('static', filename=transaction[9]) }}" alt="Proof" class="proof"
                        draggable="false">
                </div>
            </div>
            {% endif %}


            <a href="/admin/payment_history" class="go-back">
                < Back</a>
        </div>
    </div>


</body>

</html>